@import '../../styles/variables';
.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  padding: 10px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  position: sticky;
  h2 {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: $primary;
    .sports{
        font-size: 20px;
    }
  }
  nav {
    display: flex;
    align-items: center;
    ul {
      li {
        cursor: pointer;
        text-decoration: none;
        list-style: none;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #abb2bf;
        span {
          color: #c778dd;
        }
      }
    }
  }
}
